apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-secrets
  namespace: authentik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: infisical
    kind: ClusterSecretStore
  target:
    name: authentik-secrets
    creationPolicy: Owner
  data:
    - secretKey: secret_key
      remoteRef:
        key: /authentik/secret_key
    - secretKey: postgres_user
      remoteRef:
        key: /authentik/postgres_user
    - secretKey: postgres_password
      remoteRef:
        key: /authentik/postgres_password

