apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: minio-backup-location
  namespace: velero
spec:
  provider: aws
  objectStorage:
    bucket: velero-backups
  config:
    region: minio
    s3ForcePathStyle: "true"
    s3Url: http://minio.minio.svc.cluster.local:9000

