apiVersion: v1
kind: ConfigMap
metadata:
  name: n8n-configmap
data:
  N8N_PROTOCOL: "https"
  DB_TYPE: "postgresdb"
  DB_POSTGRESDB_HOST: "pg-n8n.data.dimarco-server.site"
  DB_POSTGRESDB_PORT: "5432"
  DB_POSTGRESDB_DATABASE: "n8n"
  N8N_SECURE_COOKIE: "true"
  N8N_PORT: "5678"
  N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
  N8N_HOST: "n8n.dimarco-server.site"
  WEBHOOK_URL: "https://n8n-server.polko.com.ar/"
  N8N_PROXY_HOPS: "1"
