apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "81.6.0"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace

  values:
    # --- Configuraci贸n General ---
    alertmanager:
      enabled: false

    # --- Configuraci贸n de Grafana ---
    grafana:
      enabled: true
      admin:
        existingSecret: grafana-admin-secret
      persistence:
        enabled: true
        storageClassName: nfs-csi
        size: 10Gi

    # --- Configuraci贸n de Prometheus ---
    prometheus:
      prometheusSpec:
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: nfs-csi
              resources:
                requests:
                  storage: 20Gi

        retention: 10d

        # --- Configuraci贸n de selectores de Namespace ---
        podMonitorNamespaceSelector:
          matchLabels:
            k8s.dimarco-server.site/scrape: "true"
        serviceMonitorNamespaceSelector:
          matchLabels:
            k8s.dimarco-server.site/scrape: "true"

        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
